@model Budget

<h2>Update @Model.Bill</h2>

@using (Html.BeginForm("UpdateBudgetToDatabase", "Budget", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="Bill" class="control-label">Bill</label>
    <input type="text" name="bill" class="form-control" value="@Model.Bill" />

    <label asp-for="Amount" class="control-label">Amount</label>
    <input type="number" step="0.01" name="Amount" class="form-control" value="@Model.Amount" />

   @* <label asp-for="DueDate" class="control-label">DueDate</label>
    <input type="text" name="DueDate" class="form-control" value="@Model.DueDate" />*@


    <div class="form-group">
        <label for="">Select a Due Date</label>
        <select class="form-control" name="DueDate" value="">
            @for (int i = 0; i < Model.Dates.Count; i++)
            {
                <option value="@Model.Dates[i]">@Model.Dates[i]</option>
                @* <option value="@date.">@bill.ID @bill.Bill</option>*@
            }
        </select>
    </div>



    <input type="submit" value="Update @Model.Bill" class="btn btn-primary" />


}
